@font-face {
    font-family: orangej;
    src: url(/tomas/assets/fonts/orangej.ttf);
}

@font-face {
    font-family: CL;
    src: url(/tomas/assets/fonts/CL.ttf);
}

@font-face {
    font-family: CLBoldItalic;
    src: url(/tomas/assets/fonts/CLBoldItalic.ttf);
}

@font-face {
    font-family: CLBold;
    src: url(/tomas/assets/fonts/CLBold.ttf);
}

img {
    width: 100%;
    height: 100%;
}

.barrafooter{
    width: 100%;
    height: 50px;
}



    /*Flecha*/

i.fa.fa-angle-down {
    position: relative;
    left: 45%;
    z-index: 1000;
    color: #FFFFFF;

}
i.fa.fa-angle-down:hover {
    color: #FFFFFF;
    font-weight: bold;
}
/* End Flecha*/
/*Flecha Circulo*/
i.fa.fa-chevron-circle-down {
    padding-top: 150px;
    position: relative;
    left: 45%;
    z-index: 1000;
    color: #000000;

}
i.fa.fa-chevron-circle-down:hover {
    color: #000000;
    font-weight: bold;
}
/*End Flecha Circulo*/






/*SOCIAL MEDIA - HEADER*/
header h1{
    font-family: CL;
    font-size: 50px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}



.container.socialmedia{
    height: 800px;
    width: 100%;
    background-image: url('/tomas/assets/img/fondo1.jpg')


}
.demo
{
    margin-top: 150px;

}
.demo ul
{
    padding: 0;
    list-style: none;
    font-size: 16px;
}
.demo li
{
    float: left;
    width: 80px;
    text-align: center;
}
.demo li span
{
    display: block;
}
.demo a
{
    color: #ffffff;
    text-decoration: none;
    transition: .3s;
}
.demo ul:hover a
{
    color: rgba(255, 255, 255, 0.6);
}
.demo ul:hover a:hover
{
    color: #000000;
}

.demo .linked i
{
    background: rgb(59, 89, 152);
    box-shadow: 0 0 0 0 rgba(59, 89, 152,0.6);
}
.demo .fb i
{
    background: rgb(59, 89, 152);
    box-shadow: 0 0 0 0 rgba(59, 89, 152,0.6);
}

.demo .ggle i
{
    background: rgb(210, 64, 46);
    box-shadow: 0 0 0 0 rgba(210, 64, 46,0.6);
}

.demo .twit i
{
    background: rgb(0, 172, 238);
    box-shadow: 0 0 0 0 rgba(0, 172, 238, 0.6);
}
.demo .yt i
{
    background: rgb(203, 34, 41);
    box-shadow: 0 0 0 0 rgba(203, 34, 41, 0.6);
}

.demo i
{
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding: 12px;
    border-radius: 50%;
    font-size: 30px;
    transition: box-shadow .4s ease-in-out;
    color: #FFFFFF;
}
.demo a:hover i, .demo a:active i
{
    box-shadow: 0 0 0 25px transparent;
}
.demo .icon + span
{
    margin-top: 20px;
    opacity: 0;
    -webkit-transition: all 500ms cubic-bezier(1.000, 0.000, 1.000, 0.650);
}
.demo a:hover span, .demo a:active span
{
    opacity: 1;
}



/* SKILLS */
.main-skills{
    padding-bottom: 220px;
    width: 100%;

}
.main-skills h1{
    font-family: CL;
    font-size: 50px;
    color: #000000;
    text-align: left;
    margin-left: 7%;
    padding-bottom: 40px;


}




    /* TRABAJOS */
/* Carrousel */
.main-carrousel {
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
    padding-bottom: 170px;
    padding-top: 40px;
}


.main-carrousel h1{
    font-family: CL;
    font-size: 50px;
    color: #000000;
    text-align: left;
    margin-left: 7%;
    padding-bottom: 40px;
}

#owl-demo .item{
    margin: 3px;
}
#owl-demo .item img{
    display: block;
    width: 60%;
    height: 20%;
    margin-left: 20%;
}

/* CONTACT */
#feedback {
    background: url(/tomas/assets/img/fondo1.jpg);
    background-size: cover;
    background-color: #FFFFFF;
    font-family: CL;
}
#feedback .section-title {
    color: #ffffff;
    margin-left: 4%;
}
#feedback .input-group {
    padding-bottom: 20px;
}
#feedback .input-group .input-group-addon {
    border-radius: 0px;
    padding: 14px 26px;
    background-color: transparent;
    border: none;
    position: relative;
}
#feedback .input-group .input-group-addon i {
    color: #ffffff;
    font-size: 26px;
    width: 24px;
    height: 24px;
}
#feedback .input-group .form-control {
    color: transparent;
    font-size: 22px;
    font-weight: 300;
    padding: 15px 20px;
    height: 60px;
    border: 0;
    border-radius: 0px;
}
#feedback .input-group .form-control:focus {
    box-shadow: none;
}
#feedback .input-group .large {
    height: 120px;
}
#feedback .btn-green {
    color: #ffffff;
    font-weight: 400;
    background: transparent;
    font-size: 22px;
    width: 100%;
    border-radius: 0px;
    text-transform: uppercase;
    height: 60px;
}
#feedback .btn-green i {
    float: left;
    width: 74px;
    background: transparent;
    margin: -12px;
    line-height: 56px;
    height: 60px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.address{
    color: #FFFFFF;
    font-size: 20px;
}
.address h2{
    font-size: 30px;
}
.address ul{
    list-style-type: none;
}